header {
    display: flex;
    background-color: black;
    color:white;
}
.logoConnection{
    height: 25px;
    width: 25px;
    margin-top: 25px;
}
h1 {
    margin-left: 20px;
    margin-top: 5px;
}
p {
    margin-left: 20px;
    margin-top: 25px;
}
body {
    margin:0;
    padding:0;
}
.end {
    display: flex;
    margin-left:auto;
    width: 150px;
    margin-right: 20px;
}

.fontHover :hover {
    font-weight:bolder;
}

a.sm:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
}
li ul:hover{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.flecheDown {
    width: 16px;
    height: 8px;
    margin-left: 10px;
    margin-bottom: 4px;
}
.banniere {
    width: 100%;
}
.pub {
    text-align: center;
    font-weight: bolder;
    background-color: rgb(230,188,7) ;
}
.flexEven {
    display: flex;
    justify-content: space-evenly;
}
.visite {
    font-size: x-large;
}
.connect {
    background-color: black;
    color: white;
    padding-top: 23px;
}
.flex {
    display: flex;
    flex-direction: row;
}
.littleBody {
    width: 500px;
    border: solid 1px;
    margin: auto;
    margin-top: 150px;
}
.right {
    margin-left: auto;
    margin-top: 18px;
}
.connexionForm {
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.connexionInput {
    border: none;
    border-bottom: 2px solid rgb(103,103,103);
    margin: 20px 5px 10px 5px;
}
.connexionButton {
    margin: 20px 5px 10px 5px;
    background: rgb(0, 110, 245);
    color: white;
    border: none;
}
.add {
    border: solid 1px black;
    width: 200px;
    text-align: center;
    margin: 40px 10px 200px 50px;
    padding: 0 12px ;
    font-size: larger;
    font-weight: 500;
    background-color: rgb(0, 110, 245);
    text-decoration: none;
    color:white;
}
.modif {
    background-color: yellow;
    text-decoration: none;
    margin: 10px;
    border: solid 1px;
    color:black;
    font-size: larger;
    font-weight: 500;
}
.suppr {
    background-color: red;
    color : black;
    text-decoration: none;
    margin:10px;
    border: solid 1px;
    font-size: larger;
    font-weight: 500;
}
.addForm {
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 600px;
    margin: auto;
}
.addInput {
    border: none;
    border-bottom: 2px solid rgb(103,103,103);
    margin: 20px 5px 10px 5px;
}
.addButton {
    margin: 20px 5px 10px 5px;
    background: rgb(0, 110, 245);
    width: 200px;
    color: white;
    border: none;
    margin: auto;
    margin-top: 20px;
}
.errorRed {
    text-align: center;
    color: red;
    font-weight: 500;
    font-size: larger;
}
.error {
    text-align: center;
    font-weight: 500;
    font-size: larger;
}
.tableCat {
    display: flex;
    width: 60%;
    justify-content: center;
}
.divTableCat {
    display: flex;
    justify-content: center;
}
.borderTD {
    border: solid 2px black;
}
.OK {
    position: absolute;
    text-decoration: none;
    top:400px;
    left: 39%;
}
.oui {
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    width: 50px;
    border: solid 1px black;
    padding: 5px;
    margin-left: 5px;
}
.non {
    background-color: red;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 5px;
    margin-left: 5px;
}
.hidden {
    text-decoration: none;
    border:none;
    color:white;
}